body {
    font-family: 'Open Sans', sans-serif;
    background: #f9fafc;
}

h1 {
    font-size: 16px;
}

#chirpus {
    color: #000;
}

#work {
    color: #69696a;
    text-decoration: none;
}

#aboutus {
    color: #69696a;
    text-decoration: none;
}

#contact {
    color: #69696a;
    text-decoration: none;
}

h2 {
    color: #000;
}

#text {
    color: #69696a;
    border-left: 3px solid #69696a;
    padding: 15px;
    margin: 10px;
}

button {
    color: #FFF;
    background: #000;
    width: 100%;
    border-radius: 30px;
    border: #000 ;
    padding: 10px;
}

a {
    display: block;
    padding: 0 8px;
    text-decoration: none;
    color: #69696a;
}


@media only screen and (min-width:768px) {
    .nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .main {
        margin-top: 100px;
        display: flex;
        align-items: flex-start;
    }

    .bodytext {
        display: block;
    }

    #text {
        width: 50%;
    }

    body {
        
        height: 100%;
    }

    .pink {
        background-color:rgba(247, 136, 167, 0.6);
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: absolute;
        right: 100px;
    }

    .orange {
        background-color: rgba(247, 193, 162, 0.7);
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: absolute;
        right: 50px;
        top: 120px;
    }

    .purple {
        background-color: rgba(207, 130, 213, 0.6);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        right: 40px;
        top: 60px;
        
    }

    .circles {
        /* display: flex; */
        position: relative;
        justify-content: flex-end;
        align-items: center;
    }

    #scroll {
        position: fixed;
        bottom: 50px;
        width: 200px;
        margin-left: 45%;
    }

    #hireus {
        width: 100px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 1rem;
        
    }

    nav {
        display: flex;
    }
}

